.filters-container {

  display: flex;
  position: sticky;
  top: 8rem;
  flex-direction: column;
  justify-content: space-between;
  max-width: 200px;
  max-height: 300px;
  background-color: var(--color-card);
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.label-group {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

.label-group label {
  font-size: 1.1rem;
  letter-spacing: 1px;
}
